<!-- templates/about.html -->
{{define "content"}}
<section class="bg-white p-8 shadow-md rounded-lg">
    <h2 class="text-4xl font-bold mb-4">About Me</h2>
    <p class="text-lg mb-4">Hi there! 👋 I'm Md Rasheduzzaman.</p>
    <p class="text-lg mb-4">Hello and welcome to my profile! As an experienced full-stack developer with over 6 years of
        experience, I specialize in programming languages such as C++, Python, Go, and C, PHP. I am proficient in MERN
        and LAMP stacks and have expertise in using DevOps tools like AWS, Docker, Jenkins, and Git.</p>
    <p class="text-lg mb-4">I am a problem solver at heart, and I enjoy taking on challenging projects that push me to
        think outside the box. Throughout my career, I have successfully delivered top-notch software solutions that
        meet the needs of my clients.</p>
    <p class="text-lg mb-4">In addition to my technical skills, I also possess excellent communication and collaboration
        skills. I believe that effective communication is key to ensuring that a project is successful, and I always
        strive to keep my clients in the loop every step of the way.</p>
    <p class="text-lg mb-4">If you're looking for a dedicated and skilled developer for your next project, please don't
        hesitate to reach out to me. I'd be more than happy to help bring your vision to life.</p>
    <p class="text-lg mb-4"><strong>Here are some ideas to knowing me:</strong></p>
    <ul class="list-disc list-inside text-lg mb-4">
        <li>🔭 I’m currently working on PHP, Laravel, Javascript, Python, Go</li>
        <li>💬 Ask me about Go, PHP, Python, C/C++, Laravel and API etc.</li>
        <li>📫 How to reach me: <a href="mailto:jmrashed@gmail.com"
                class="text-blue-600 hover:underline">jmrashed@gmail.com</a></li>
    </ul>
    <p class="text-lg mb-4">I have completed several recent projects that demonstrate my ability to deliver successful
        software solutions:</p>
    <ul class="list-disc list-inside text-lg">
        <li>HRM (Human Resource Management)</li>
        <li>CRM (Customer Relationship Management)</li>
        <li>LMS (Learning Management System)</li>
        <li>Music Streaming</li>
        <li>Chatbot using open AI</li>
        <li>Ecommerce applications</li>
        <li>Face Recognition Attendance System</li>
        <li>Video Calling Web Application</li>
    </ul>
</section>
{{end}}

{{ template "base.html" . }}